.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  width: 300px;
}

.category {
  font-size: 1.2em;
  color: #f7f7ff;
  font-family: "Proxima Nova";
}

.category:hover {
  cursor: pointer;
  color: #c6c6ca;
}

@media only screen and (min-width: 768px) {
  .navbar-container {
    width: 60%;
    margin: 0 auto;
  }
  .category {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1024px) {
  .category {
    font-size: 1.5em;
  }
}
