.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 3;
  background: #0f2027;
}

.category {
  font-size: 0.9em;
  color: #f7f7ff;
  font-family: "Proxima Nova";
  padding: 0 0.6em 0 0.6em;
}

.category:hover {
  cursor: pointer;
  color: #c6c6ca;
}

@media only screen and (min-width: 375px) {
  .category {
    font-size: 1em;
    padding: 0 0.7em 0 0.7em;
  }
}

@media only screen and (min-width: 600px) {
  .category {
    font-size: 1.1em;
    padding: 0 1em 0 1em;
  }
  .download {
    width: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .category {
    font-size: 1.4em;
    padding: 0 1.5em 0 1.5em;
  }
  .download {
    width: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .category {
    font-size: 1.5em;
  }
  .download {
    width: 26px;
  }
}
