.bio-container {
  font-family: "Proxima Nova";
  height: 100%;
  padding: 2em 0 1em 0;
  text-align: center;
  font-size: 1.1em;
}

.bio-content2 {
  margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .bio-container {
    text-align: left;
    width: 100%;
  }
}
