.banner-wrap {
  background-image: url("../../banner-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container {
  height: 100vh;
  padding: 0 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #00a4a6;
  z-index: 2;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7em;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 375px) {
  .banner-content {
    margin-top: 8em;
  }
}

@media only screen and (min-width: 414px) {
  .banner-content {
    margin-top: 10.5em;
  }
}

@media only screen and (min-width: 768px) {
  .banner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-top: 16em;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
  }
}
