.banner-container {
  background: -webkit-linear-gradient(to top, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to top, #2c5364, #203a43, #0f2027);
  height: 100vh;
  padding: 0 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #00a4a6;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7em;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 375px) {
  .banner-content {
    margin-top: 8em;
  }
}

@media only screen and (min-width: 414px) {
  .banner-content {
    margin-top: 10.5em;
  }
}

@media only screen and (min-width: 768px) {
  .banner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-top: 16em;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
  }
}
