.social-media-logos {
  text-align: center;
}

.social-media-img {
  display: inline-block;
  background: #00a4a6;
  border-radius: 25px;
  width: 60px;
  cursor: pointer;
  margin: 0 0.8em 0 0.8em;
}

.github-logo {
  height: 60px;
}

.social-media-img:hover {
  background: #05c2c5;
}

@media only screen and (min-width: 768px) {
  .social-media-img {
    width: 60px;
    margin: 0 1em 0 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .social-media-img {
    width: 65px;
    margin: 0 1.5em 0 1.5em;
  }
  .github-logo {
    height: 65px;
  }
}
