.work-btn {
  background-color: inherit;
  font-family: "Proxima Nova";
  border: 2px solid #f7f7ff;
  color: #f7f7ff;
  transition: all 0.5s ease;
  cursor: pointer;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  padding: 8px 12px 8px 12px;
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.7);
}

.arrow-container {
  transition: all 0.5s ease;
  height: 18px;
  margin-left: 8px;
  margin-top: 3px;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.work-btn:hover .arrow-container {
  transform: rotate(90deg);
}

.work-btn:hover {
  background-color: #00a4a6;
}

@media only screen and (min-width: 768px) {
  .arrow-container {
    height: 20px;
    margin-left: 16px;
    margin-top: 5px;
  }
  .work-btn {
    font-size: 1.4em;
    padding: 12px 16px 12px 16px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (min-width: 1024px) {
  .work-btn {
    font-size: 1.5em;
  }
}
