.about-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fc;
}

.about-text {
  text-align: center;
  margin: 0.5em 0 0.2em 0;
  font-family: "Proxima Nova";
  font-size: 48px;
}

.flex-line {
  margin: 25px 0 75px 0;
  width: 75px;
  height: 4px;
  background: #203a43;
  margin: 0 auto;
}

.profile-photo-container {
  padding: 1em 2em 1em 2em;
}

.profile-img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: row;
  }
}
