.about-container {
  background-color: #f9f9fc;
  padding: 2em;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-text {
  text-align: center;
  margin-bottom: 0.2em;
  font-family: "Proxima Nova";
  font-size: 48px;
}

.flex-line {
  margin: 25px 0 75px 0;
  width: 75px;
  height: 4px;
  background: #203a43;
  margin: 0 auto;
}

.profile-img {
  width: 100%;
}

.carousel-container {
  padding-top: 1em;
  margin: auto;
  width: 150px;
}

.stack-text {
  padding: 2em 0.5em 0.5em 0.5em;
  text-align: center;
  font-family: "Proxima Nova";
}

@media only screen and (min-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .profile-photo-container {
    padding: 3em 0 2em 2em;
  }
  .profile-img {
    width: 401px;
  }
  .carousel-container {
    width: 215px;
  }
  .stack-text {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1024px) {
  .profile-img {
    width: 350px;
  }
}
