.ghost {
  animation: float 3s ease-out infinite;
  width: 80px;
  position: relative;
  top: 2em;
}

@keyframes float {
  50% {
    transform: translate(0, 30px);
  }
}

@media only screen and (min-width: 768px) {
  .ghost {
    width: 180px;
    margin-bottom: 1em;
  }
}
