.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9fc !important;
  padding-bottom: 1em;
  padding-top: 1em;
}

.slide {
  background: #f9f9fc !important;
}
